@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Roboto:wght@100&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav{
    height: 90px;
    background-color: #0a0e21;
    padding: 30px;
    font-size: 15px;
}

.titulo{
    float: left;
    color: #ffffff;
}

.titulo a{
    color: #ffffff;
}

.barra{
    float: right;
    word-spacing: 5px;
}

.barra ul{
    list-style: none;
}

.barra ul li{
    display: inline-block;
}

.barra a{
    text-decoration: none;
    color: #ffffff;
}

.barra a:hover{
    color: rgb(209, 87, 26);
}

a{
    color: #000000;
    text-decoration: none;
}

header{
    background-color: #ffffff;
    text-align: center;
}

.carta{
    padding: 30px;
    background-image: url("../img/gym1.jpg");
    background-size: cover;
}

.intro{
    color: #ffffff;
}

.intro h1{
    font-size: 40px;
    text-align: center;
}

.intro p{
    max-width: 550px;
    margin: 0 auto 32px auto;
}

.vermas{
    color: white;
    background: rgb(209, 87, 26);
    padding: 22px 64px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 32px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

main{
    background-color: #ffffff;
}

.yo{
    background-color: #0a0e21;
    color: #ffffff;
    padding: 30px;
    text-align: center;
}

.yo h3{
    font-size: 30px;
}

.subtitulo{
    margin: 15px;
    text-align: center;
    background-color: #0a0e21;
    color: #ffffff;
}

.adicional{
    margin: 20px;
    text-align: center;
}

.columna img{
    width: 100%;
    padding: 15px;
}

.columna{
    text-align: center;
    color: #000000;
}

.final{
    text-align: center;
    margin: 50px;
    padding: 10px;
}

.fondo{
    background-color: #0a0e21;
    color: #ffffff;
}

.card{
    margin: 10px;
}

.planes{
    color: white;
    background: rgb(209, 87, 26);
    padding: 12px 34px;
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.planes a{
    text-decoration: none;
    color: #ffffff;
}

footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: rgb(209, 87, 26);
}

.count{
    margin: 0 5rem;
}

.count h1 {
    font-size: 4.6rem;
    margin-bottom: 0.5rem;
    font-family: "Open Sans", sans-serif;
}

.count p {
    opacity: 0.6;
}

.comunidad h3{
    text-align: center;
    background-color: #0a0e21;
    color: #ffffff;
}

.inicio{
    padding: 20px;
}

.img-volumen{
    background-image: url("../img/volumen.avif");
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 50px auto;
    padding: 50px;
}

.volumen{
    text-align: center;
    font-size: 20px;
    margin: 15px;
}

.img-deficit{
    background-image: url("../img/deficit.avif");
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 50px auto;
    padding: 50px;
}

.img-mantenimiento{
    background-image: url("../img/mantenimiento.avif");
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 50px auto;
    padding: 50px;
}

.final-final{
    text-align: center;
    background-color: #0a0e21;
    color: rgb(255, 255, 255);
    padding: 20px;  
}


.left {
    width: 344px;
    height: 750px;
    border-radius: 12px;
    overflow: hidden;
    margin: 28px auto;
    justify-content: center;
    text-align: center;
}

.card__second{
    background-color: #0a0e21;
    color: #ffffff;
    padding: 15px;
}

.left img{
    width: 100%;
}

.txt {
    margin: 0 24px 15px 24px;
    font-size: 15px;
    line-height: 22px;
}

.precio {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 0 24px 16px 60px;
}

.preciodes {
    font-size: 35px;
}

.preciodes2 {
    font-size: 35px;
    display: flex;
    text-align: center;
}

.precioof {
    text-decoration: line-through;
}

.button {
    width: 250px;
    height: 50px;
    background-color: rgb(209, 87, 26);
    border-radius: 20px;
    color: white;
    font-size: 18px;
    font-weight: 700px;
    display: block;
    margin: auto;
    position: relative;
    outline: none;
    transition: 3s;
    overflow: hidden;
}

.vermas a{
    color: #ffffff;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}

.button img{
    width: 15px;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #0a0e21;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ffffff;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 30px 0;
}

form .contrasena{
    position: relative;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 30px 0;
}

form{
    color: #ffffff;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #ffffff;
}

.contrasena input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #ffffff;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(255, 255, 255);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(209, 87, 26);
}

.username input:focus ~ label,
.username input:valid ~ label{
    top: -5px;
    color: rgb(209, 87, 26);
}

.contrasena label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(255, 255, 255);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.contrasena span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(209, 87, 26);
}

.contrasena input:focus ~ label,
.contrasena input:valid ~ label{
    top: -5px;
    color: rgb(209, 87, 26);
}

.recordar{
    margin: -5px 0 20px 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgb(209, 87, 26);
    border-radius: 25px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: rgb(209, 87, 26);
    transition: .5s;
}

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.registrarse a{
    color: rgb(209, 87, 26);
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}

@media (min-width: 620px) {

    .titulo{
        font-size: 40px;
    }

    .barra{
        font-size: 20px;
        word-spacing: 10px;
    }

    .adicional{
        width: 650px;
        height: 100px;
        display: flex;
        margin: 80px auto 100px;
        font-size: 15px;
    }

    .explicacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .explicacion img{
        width: 350px;
    }

    .fondo{
        text-align: center;
    }

    .count{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .iniciativa{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .copyright{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .volumen{
        margin: 70px;
    }

    .left {
        width: 650px;
        height: 350px;
        display: flex;
        margin: 130px auto 75px;
        }

    .card__second {
        width: 600px;
    }
}


@media (min-width: 1024px){

    .titulo{
        font-size: 40px;
    }

    .barra{
        font-size: 20px;
        word-spacing: 10px;
    }

    .adicional{
        width: 1000px;
        height: 100px;
        display: flex;
        margin: 80px auto 100px;
        font-size: 15px;
    }   

    .card-body{
        width: 25rem;
        background-color: #ffffff;
        height: 20rem;
        text-align: center;
    }

    .iniciativa{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 100px;
        text-align: center;
    }

    .planes{
        margin: 0 auto;
    }

    .count{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 50px;
        text-align: center;
    }

    .copyright{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .volumen{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    .img-volumen{
        width: 150%;
        height: 250px;
        text-align: center;
        margin: 55px;
        padding: 100px;
    }

    .img-deficit{
        width: 150%;
        height: 250px;
        text-align: center;
        margin: 55px;
        padding: 100px;
    }

    .img-mantenimiento{
        width: 195%;
        height: 250px;
        text-align: center;
        margin: 55px;
        padding: 100px;
    }

    .sub-p{
        display: none;
    }

    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 11rem;
        align-items: center;
        padding: 1rem;
        margin: 7.5rem;
    }
}